.dropdown {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid $color-bg-dark-2;
  display: inline-block;
  position: relative;
  z-index: 10;

  &-btn {
    width: 100%;
    border: none;
    padding: 0.8rem;

    cursor: pointer;
    display: flex;

    gap: 0.5rem;
    align-items: center;
  }

  &-heading {
    font-size: inherit;
  }

  &-menu {
    position: absolute;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-text-normal, 0.2);
    bottom: 100%;
    left: 0;
    display: none;
    padding: 1rem 1rem;
    background-color: $color-bg-dark-2;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
  }

  &:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &-new {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: white;

    &:hover {
      background-color: $color-bg-dark-3;
    }
  }

  &-description {
    margin-left: 2.5rem;
    text-align: left;
  }
}
