.project {
  &-content {
    padding: 4.5rem 3.5rem;
    background-color: $color-bg-light-3;
  }

  &-heading {
    padding: 4.5rem 0 3rem;
  }

  &-description {
    margin-bottom: 1.6rem;
    max-width: 55ch;
  }
}

.subtasks {
  &-heading {
    border-bottom: 1px solid $color-bg-dark-2;
    margin-bottom: 1rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
